html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.login-container {
    width: 320px;
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: slide-up 0.5s ease;
}

.login-header {
    text-align: center;
    margin-bottom: 30px;
}

    .login-header h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 5px;
    }

    .login-header p {
        color: #666;
        font-size: 14px;
    }

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

    button:hover {
        background-color: #0056b3;
    }

.login-footer {
    text-align: center;
    margin-top: 20px;
}

    .login-footer p {
        color: #666;
        font-size: 14px;
    }

    .login-footer a {
        color: #007bff;
        text-decoration: none;
    }

        .login-footer a:hover {
            text-decoration: underline;
        }

@keyframes slide-up {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.register-container {
    width: 320px;
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: slide-up 0.5s ease;
}

.register-header {
    text-align: center;
    margin-bottom: 30px;
}

    .register-header h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 5px;
    }

    .register-header p {
        color: #666;
        font-size: 14px;
    }

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    /* Apply animation to all input fields */
    animation: slide-up 0.5s ease;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

    button:hover {
        background-color: #0056b3;
    }

.register-footer {
    text-align: center;
    margin-top: 20px;
}

    .register-footer p {
        color: #666;
        font-size: 14px;
    }

    .register-footer a {
        color: #007bff;
        text-decoration: none;
    }

        .register-footer a:hover {
            text-decoration: underline;
        }

@keyframes slide-up {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}